@model NuggetRestauranteXZX.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
    BlobModel imgPerfil = ViewData["IMAGEN_PERFIL"] as BlobModel;
}

<h1>Perfil</h1>

<div >
    <a class="btn btn-success" asp-controller="Mesa" asp-action="Mesa">Vuelta</a>
</div>

<div>
    <h4>Usuario: </h4> 
    @if (Context.User.Identity.IsAuthenticated)
    {
        <a class="btn btn-dark" asp-controller="Managed" asp-action="Logout">
            Log Out
            <span style="color:yellow">@Context.User.Identity.Name</span>
        </a>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>

    <img src="@imgPerfil.Url" style="height:150px" />
</div>


